

[class*="zocial-"]::before {
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}
.zocial-twitter {color:#00acee}
.zocial-facebook {color:#3B5998}
.zocial-googleplus {color:#dd4b39}
.zocial-digg {color:red}


body {
  font-family: sans-serif, "Palatino Linotype", "Book Antiqua", Palatino, serif ;
  font-size: 16px;
  margin: 2em;
}

article {
  max-width: 50em;
  margin: 0.5em auto;
  text-align: justify;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding: 2em;
}

.logo {
  font-size: 3em;
  position: absolute;
  top: 2%;
  left: 35%;
  /* width: 120px; */
  /* height: 120px; */
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;

/*
    color: red;
     -webkit-animation-name: example;
     -webkit-animation-duration: 4s;
   animation-name: example;
   animation-duration: 4s; */


}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {color: red;}
    to {color: yellow;}
}

/* Standard syntax */
@keyframes example {
    from {color: red;}
    to {color: yellow;}
}



h1 {
  margin: 0 auto 1em auto;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: width 0.5s;
}

figcaption {
  text-align: center;
}

footer {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  max-width: 50em;
  margin: 1em auto;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

#viewSource {
  font-size: 12px;
  float: right;
}
